.range-slider {
  appearance: none;
  @apply rounded-full h-2 cursor-pointer shadow-lg shadow-gray-800;
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  overflow: visible;
  background-image: url("/src/assets//images/vip/vip_img.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @apply w-7 h-7 rounded-full cursor-pointer;
}
